<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='main.css')}}">
    <title>NSTU Admission Portal</title>

</head>
<body>
    <div>
        <center>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {%if messages %}
              {%for category,message in messages %}
              <div class="alert alert-{{ category }}">
                {{message}}
              </div>
              {%endfor%}
            {%endif%}
        {%endwith%}
        </center>
    </div>
    {% block content %}

    {% endblock %}
</body>
</html>