<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
    <title>NSTU Admission Portal</title>
</head>
<body>

    <!--navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href=""><img src="{{url_for('static',filename='logo.png')}}" alt="" style="height: 50px; width: 40px"><span>AddmissionPortal</span></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
      </nav>
     <div>
            <center>
            {% with messages = get_flashed_messages(with_categories=true) %}
                {%if messages %}
                  {%for category,message in messages %}
                  <div class="alert alert-{{ category }}">
                    {{message}}
                  </div>
                  {%endfor%}
                {%endif%}
            {%endwith%}
            </center>
     </div>
      <div class="container" style="font-size: 20px; text-align: center;">
        <p>Welcome to Noakhali Science and Technology University Admission Portal</p>
    </div>
    <div class="container" style="font-size: 15px; text-align: center;">
		<form method="post" action="">
            {{form.hidden_tag() }}
            <legend>Log In</legend>
            <p></p>
            <div>
                {{form.email.label}}
                {% if form.email.errors %}
                  {{ form.email}}
                      <div>
                        {% for error in form.email.errors %}
                          <span>{{ error }}</span>
                        {% endfor%}
                      </div>
                {% else %}
                  {{form.email}}
                {% endif %}
            </div>
            <p></p>
            <div>
                {{form.password.label}}
                {% if form.password.errors %}
                  {{ form.password}}
                      <div>
                        {% for error in form.password.errors %}
                          <span>{{ error }}</span>
                        {% endfor%}
                      </div>
                {% else %}
                  {{form.password}}
                {% endif %}
            </div>
            <p></p>
			<div>
				{{form.remember}}
				{{form.remember.label}}
			</div>
            <p></p>
            <div>
                {{form.submit}}
            </div>
        </form>
		</div>
		<div class="container" style="font-size: 15px; text-align: center;">
			<h5>Have no account? </h5>
			<a href="{{ url_for('register') }}">Sign Up now</a>
            <br>
            <br>
			<a href="{{url_for('reset_request')}}">Forget Password?</a>
		</div>
		</center>

    <!--Footer-->
    <div class="footer">
        <div class="container">
            <p>&copy; 2022 Copyright: <strong>Noakhali Science and Technology University</strong></p>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>
