{% extends "layout.html" %}
{% block content %}
    <div class="container" style="text-align: center; font-size: 30px;">
        <p>Available seat and total seat details</p>
    </div>

    <div class="container table-responsive">
        <table class="table table-striped table-hover table-bordered">
            <thead class="text-center">
            <tr>
              <th>Department</th>
              <th>Total Seat</th>
              <th>Filled</th>
              <th>Remaining</th>
            </tr>
          </thead>
          <tbody>
            {% for department in departments %}
            <tr>
              <td>{{department.department_name}}</td>
              <td>{{department.total_seat}}</a></td>
              <td>{{department.fill_up}}</td>
              <td>{{department.total_seat - department.fill_up}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
    </div>

    <div class="container" style="text-align: center; font-size: 30px;">
        <p>Student list according to Department</p>
    </div>

    <div class="container table-responsive">
        <table class="table table-striped table-hover table-bordered">
            <thead class="text-center">
            <tr>
              <th>CSTE</th>
            </tr>
          </thead>
          <tbody>
            {% for student in list[0].stu_dept %}
            <tr>
              <td>{{student.name}}</td>
            <tr>
            {% endfor %}
          </tbody>
             <thead class="text-center">
            <tr>
              <th>ICE</th>
            </tr>
          </thead>
          <tbody>
            {% for student in list[1].stu_dept %}
            <tr>
              <td>{{student.name}}</td>
            <tr>
            {% endfor %}
          </tbody>
             <thead class="text-center">
            <tr>
              <th>EEE</th>
            </tr>
          </thead>
          <tbody>
            {% for student in list[2].stu_dept %}
            <tr>
              <td>{{student.name}}</td>
            <tr>
            {% endfor %}
          </tbody>
             <thead class="text-center">
            <tr>
              <th>SE</th>
            </tr>
          </thead>
          <tbody>
            {% for student in list[3].stu_dept %}
            <tr>
              <td>{{student.name}}</td>
            <tr>
            {% endfor %}
          </tbody>
             <thead class="text-center">
            <tr>
              <th>AM</th>
            </tr>
          </thead>
          <tbody>
            {% for student in list[4].stu_dept %}
            <tr>
              <td>{{student.name}}</td>
            <tr>
            {% endfor %}
          </tbody>
             <thead class="text-center">
            <tr>
              <th>ACCE</th>
            </tr>
          </thead>
          <tbody>
            {% for student in list[5].stu_dept %}
            <tr>
              <td>{{student.name}}</td>
            <tr>
            {% endfor %}
          </tbody>
        </table>
    </div>

{% endblock content %}