{% extends "layout.html" %}
{% block content %}
<center>
    <div>
        <h3>Student Details</h3>

        <div>
             <p><img src="{{image}}" alt="profile_pic"></p>
        </div>
        <form method="post" action="" enctype="multipart/form-data">
            {{form.hidden_tag() }}
            <div>
                <p>ID: {{student.id}}</p>
            </div>

            <div>
                {{form.name.label}}
                  {{form.name}}
            </div>
            <p></p>
            <div>
                <p>Email: {{student.email}}</p>
            </div>
            <p></p>
            <div>
                <p>Department: {{student.department}}</p>
            </div>
            <p></p>
            <div>
               {{ form.picture.label() }}
               {{ form.picture(class='form-control-file') }}
               {% if form.picture.errors %}
                   {% for error in form.picture.errors %}
               <span>{{ error }}</span>
                   {% endfor%}
               {% endif %}
           </div>
            <p></p>
            <div>
                {{form.submit}}
            </div>
            <small>ID,email,department can't be change<br> You can delete this one and create new one with correct information.</small>
        </form>
        <div>
            <p></p>
            <a href="{{url_for('home')}}">Home</a>
        </div>
    </div>
</center>


{% endblock content %}